$text-color: #333;
$background-color: #fff;
$path-font: '../gilroy';
$border-color: #a6a6a6;


@mixin font-face($family, $file, $font-weight) {
	@font-face {
  font-family: $family;
  src: url("#{$path-font}/#{$file}-webfont.eot");
  src: url("#{$path-font}/#{$file}-webfont.eot?#iefix") format("embedded-opentype"), url("#{$path-font}/#{$file}-webfont.woff2") format("woff2"), url("#{$path-font}/#{$file}-webfont.woff") format("woff"), url("#{$path-font}/#{$file}-webfont.svg#gilroylight") format("svg");
  font-weight: $font-weight;
  }
}

@include font-face('gilroylight', gilroy-light, 300);
@include font-face('gilroymedium', gilroy-medium, 500);
@include font-face('gilroymedium-italic', gilroy-MediumItalic, 500);


@keyframes hoverButton {
	50% { left: -5px; }
	100% { left: +5px; }
}

@keyframes hoverButtonRev {
	50% { margin-left: 2rem; }
	100% { margin-left: 1.4rem; }	
}


// * {
// 	border: 1px solid blue;
// }


body {
	font-size: 14px;
	margin: 0;
	padding: 0;
	}


h1 {
	color: $text-color;
	font-family: 'gilroylight', sans-serif;
	}

li, p, button, .word, h6, input {
	color: $text-color;
	font-family: 'gilroymedium', 'gilroylight', sans-serif;
	}

li, button {
	font-size: 1rem;
}


p {
	font-size: 2rem;
	margin: 2rem 0 0;
	@media screen and (min-width: 750px) {
		font-size: 2.6rem;
		margin: 2.6rem 0 0;
	}
}


h6  {
	color: $text-color;
	a {
		cursor: pointer;
		text-decoration: none;
		&:hover {
		text-decoration: underline;
		}
	}
	@media screen and (min-width: 750px) {
		font-size: .85rem;
		}
}	


h3 {
	font-size: 1.1rem;
	margin: 1rem 0 .2rem;
}

input {
	font-size: 1.4rem;
}

button {
	background-color: $background-color;
    border: none;
    }


.italic {
	font-family: 'gilroymedium-italic';
	}

.definitions {
	ul {
		list-style-type: none; 
		padding-left: 0;
	}
	@media screen and (min-width: 750px) {
		display: -webkit-flex;
		display: flex;
		flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
		justify-content: flex-start;
		-webkit-justify-content: flex-start;
		ul {
			margin-right: 3rem;
			}
		}
	}

#backButton {
    	cursor: pointer;
    	padding: 0;
		position: absolute;
		left: 0;
		border-bottom: none;
		z-index: 10000;
		img {
			height: 1rem;
			width: 2rem;
			}
			&:hover {
				animation: hoverButton .4s ease-in-out;
			}
			@media screen and (min-width: 750px) {
				padding-left: 1rem;
				img {
				width: 	3rem;
				}
			}
		}

#app-wrapper {
	position: relative;
	#main-menu-wrapper,
	#flash-card-wrapper {
		padding-left: 2px;
		position: absolute;
		top: 8px;
		left: 0;
		width: 98%;
		@media screen and (min-width: 750px) {
			padding-left: 0;
			}
		}
	#flash-card-wrapper {
		z-index: -1;
		}
	}	


#main-menu-wrapper {
	height: 220vh;
	z-index: 100;
	@media screen and (min-width: 750px) {
		height: 190vh;
		}
	#main-menu-content-fade {
		height: 85vh;
		#footer > h6 {
			margin: 2rem 0 0;
			@media screen and (min-width: 750px) {
				margin: 4rem 0 1rem;
				}
			}
		}
	h1 {
		font-size: 2.6rem;
		margin: 2.6rem 0 1rem;
		@media screen and (min-width: 750px) {
			font-size: 2.9rem;
			margin: 3.6rem 0 3rem;
			}
		}
	ul {
		list-style-type: none;
		margin: 1px 0 0;
		max-width: 1175px;
		padding-left: 0;
		width: 66%;
		}
	li {
		border-bottom: 1px solid $text-color;
		border-radius: 3px;
		cursor: pointer;
		min-width: 225px;
		padding: 15px 0;
		transition: border-bottom .4s ease-in-out, color .4s ease-in-out; 
		.vocab-count {
			font-size: .6rem;
			padding-left: .8rem;
			@media screen and (min-width: 750px) {
				font-size: 1rem;
				}
			}
	.index-link {
		font-size: 1rem;
		border-bottom: 1px solid lighten($border-color,10%);
		&:hover {
				border-bottom: 1px solid darken($border-color, 60%);
				}
		@media screen and (min-width: 750px) {
				font-size: 1.2rem;
				}
			}
	#footer {
		margin-top: 20vh;
		height: 20vh;
		@media screen and (min-width: 750px) {
			margin-top: 10vh;
			}
		}
	@media screen and (min-width: 750px) {
		border: none;
		border-bottom: 1px solid lighten($border-color,100%);
		font-size: 2rem;
		&:hover {
				border-bottom: 1px solid $border-color;
				}
			}
		}
	}


.aboutHook {
	-webkit-transition: opacity .2s linear;
	transition: opacity .2s linear;
	.ng-hide {
		-webkit-transition: opacity .2s ease-in-out;
		transition: opacity .2s linear;
  		opacity:0;
		}
}


#flash-card-content-wrapper,
#main-menu-content-fade,
#card-front-content-fade,
#card-back-content-fade,
#word-index-content-fade,
#index-word-view-content-fade {
    -webkit-transition: display 0.4s linear, opacity 0.3s linear;
    transition: display 0.4s linear, opacity 0.3s linear;
}


#main-menu-content-fade,
#card-section,
#card-front,
#card-back {
	@media screen and (min-width: 750px) {
		padding-left: 1rem;
		}
}

#flash-card-wrapper h1 {
	font-size: 1.4rem;
	margin: 1rem 0 0;
	@media screen and (min-width: 750px) {
		margin: 2rem 0 0;
		}
	}


#flash-card-content-wrapper {
	margin-top: 1rem;
    position: relative;
    height: 95vh;
    opacity: 0;
    width: 100%;
    }

#card-front-content-fade,
#card-back-content-fade {
    opacity: 0;
    }



#card-back-content-fade {
  	position: absolute;
  	height: 52vh;
  	overflow-y: scroll;
    width: 98%;
    @media screen and (min-width: 750px) {
    	height: 60vh;
    	}
    }


#card-section {
	background: white; 
	position: absolute;
    top: 10px;
    width: 90%;
    z-index: 100;
    }
 

#card-front,
#card-back {
	position: absolute;
    top: 35px;
    width: 100%;
    @media screen and (min-width: 750px) {
    	top: 75px;
    	}
    }

#card-front {
    z-index: 10;
    }

#card-back {
	z-index: 1;
    }

#button-wrapper {
	border-top: 1px solid $text-color;
	background-color: $background-color;
	bottom: 0;
	height: 30vh;
	position: absolute;
	z-index: 1000;
	text-align: center;
    width: 100%;
    @media screen and (min-width: 750px) {
    	border-top: none;
    	height: 23vh;
    }
    button {
    	border-bottom: 1px solid $text-color;
	   	cursor: pointer;
    	padding: 15px 0;
    	width: 66%;
    	margin: 0 0 5px;
    	background-color: $background-color;
		border: none;
		border-bottom: 1px solid lighten($border-color, 100%);
		transition: border-bottom .4s ease-in-out;
		font-size: 1.4rem;
		&:hover {
			border-bottom: 1px solid $border-color;
		}
		@media screen and (min-width: 750px) {
		 	font-size: 2rem;
		}
	}
}


#word-index-wrapper {
	display: none;
	height: 95vh;
    padding-left: 2px;
    position: absolute;
    top: 8px;
    left: 0;
    width: 98%;	
	#word-index-content-wrapper {
			margin-top: 1rem;
			#word-index-content-fade {	
		   		opacity: 0;
		   		position: relative;
		   		#search-input-wrapper {
		   			background: lighten($border-color, 5%);
					border: none;
		   			border-radius : 5px;
		   			padding: 5px 0 2rem;
		  			#index-search {
		   				display: block;
		   				margin: 2rem auto 0;
		   				height: 2rem;
		   				width: 90%;
		   				}
		   			@media screen and (min-width: 750px) {
		   				margin: 2rem 0 0 1rem;
		   				}
		   			} 
		   		h1 {
					font-size: 1.4rem;
					margin: 1rem 0 0;
					@media screen and (min-width: 750px) {
						margin: 2rem 0 0;
						}
					}
			    #word-index-list-wrapper {
			   		position: absolute;
			  		top: 75px; 
			  		width: 98%;	
			  		ul {
			  			border-bottom: 1px solid $border-color;
			  			margin: .2rem 0;
			  			padding-left: 2px;
			  			li {
			  				list-style: none outside;
			  				position: relative;
			  			}
			  			p {
			  				display: inline-block;
			  				font-size: 1.4rem;
			  				margin: 1rem 0 0;
			  				@media screen and (min-width: 750px) {
			  					font-size: 2rem;
			  				}
			  			}
			  			h3 {
			  				@media screen and (min-width: 750px) {
			  					font-size: 1.4rem;
			  					}
			  				}
			  			button {
			  				background: none;
			  				cursor: pointer;
			  				margin-left: 1.4rem;
			  				position: absolute;
			  				top: 22px;
			  				&:hover {
								animation: hoverButtonRev .4s ease-in-out;
								}
							@media screen and (min-width: 750px) {
								top: 27px;
								}
				  			img {
				  				cursor: pointer;
								height: 1rem;
								transform: rotate(180deg);
								width: 2rem;
								@media screen and (min-width:750px){
									width: 3rem;
									}
								}
			  				}
						}
			  		@media screen and (min-width: 750px) {
			  			padding-left: 1rem;
			  			margin: 2rem 0 0;
			  			max-width: 1175px;
			  			width: 66%;
			  			}		
			   	}
		   }
	}
}


#index-word-view-wrapper {
	position: absolute;
	display: none;
	height: 95vh;
    padding-left: 2px;
    left: 0;
    width: 98%;		
	#index-word-view-content-wrapper {
		margin-top: 1.5rem;
		}
		#index-word-view-content-fade {
			opacity: 0;
			position: relative;
			h1 {
				font-size: 1.4rem;
				margin: 1rem 0 0;
				width: 88vw;
				@media screen and (min-width: 750px) {
					margin: 2rem 0 0;
					}
				}
			#word-index-content {
				padding-left: 0;
				position: absolute;
				margin: 3.1rem 0 0;
				max-width: 1175px;
				width: 88vw;
				@media screen and (min-width: 750px) {
					padding-left: 1rem;
					margin: 7.3rem 0 0;
				}
				h3 {
		  			@media screen and (min-width: 750px) {
		  				font-size: 1.4rem;
		  					}
		  				}
				}
				p {
					margin: 1rem 0 0;
					@media screen and (min-width: 750px) {
						margin: 0 0 0;
					}
				}
		}
	}



