@font-face {
  font-family: "gilroylight";
  src: url("../gilroy/gilroy-light-webfont.eot");
  src: url("../gilroy/gilroy-light-webfont.eot?#iefix") format("embedded-opentype"), url("../gilroy/gilroy-light-webfont.woff2") format("woff2"), url("../gilroy/gilroy-light-webfont.woff") format("woff"), url("../gilroy/gilroy-light-webfont.svg#gilroylight") format("svg");
  font-weight: 300; }
@font-face {
  font-family: "gilroymedium";
  src: url("../gilroy/gilroy-medium-webfont.eot");
  src: url("../gilroy/gilroy-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../gilroy/gilroy-medium-webfont.woff2") format("woff2"), url("../gilroy/gilroy-medium-webfont.woff") format("woff"), url("../gilroy/gilroy-medium-webfont.svg#gilroylight") format("svg");
  font-weight: 500; }
@font-face {
  font-family: "gilroymedium-italic";
  src: url("../gilroy/gilroy-MediumItalic-webfont.eot");
  src: url("../gilroy/gilroy-MediumItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../gilroy/gilroy-MediumItalic-webfont.woff2") format("woff2"), url("../gilroy/gilroy-MediumItalic-webfont.woff") format("woff"), url("../gilroy/gilroy-MediumItalic-webfont.svg#gilroylight") format("svg");
  font-weight: 500; }
@keyframes hoverButton {
  50% {
    left: -5px; }
  100% {
    left: +5px; } }
@keyframes hoverButtonRev {
  50% {
    margin-left: 2rem; }
  100% {
    margin-left: 1.4rem; } }
body {
  font-size: 14px;
  margin: 0;
  padding: 0; }

h1 {
  color: #333;
  font-family: 'gilroylight', sans-serif; }

li, p, button, .word, h6, input {
  color: #333;
  font-family: 'gilroymedium', 'gilroylight', sans-serif; }

li, button {
  font-size: 1rem; }

p {
  font-size: 2rem;
  margin: 2rem 0 0; }
  @media screen and (min-width: 750px) {
    p {
      font-size: 2.6rem;
      margin: 2.6rem 0 0; } }

h6 {
  color: #333; }
  h6 a {
    cursor: pointer;
    text-decoration: none; }
    h6 a:hover {
      text-decoration: underline; }
  @media screen and (min-width: 750px) {
    h6 {
      font-size: .85rem; } }

h3 {
  font-size: 1.1rem;
  margin: 1rem 0 .2rem; }

input {
  font-size: 1.4rem; }

button {
  background-color: #fff;
  border: none; }

.italic {
  font-family: 'gilroymedium-italic'; }

.definitions ul {
  list-style-type: none;
  padding-left: 0; }
@media screen and (min-width: 750px) {
  .definitions {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start; }
    .definitions ul {
      margin-right: 3rem; } }

#backButton {
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 0;
  border-bottom: none;
  z-index: 10000; }
  #backButton img {
    height: 1rem;
    width: 2rem; }
  #backButton:hover {
    animation: hoverButton .4s ease-in-out; }
  @media screen and (min-width: 750px) {
    #backButton {
      padding-left: 1rem; }
      #backButton img {
        width: 3rem; } }

#app-wrapper {
  position: relative; }
  #app-wrapper #main-menu-wrapper,
  #app-wrapper #flash-card-wrapper {
    padding-left: 2px;
    position: absolute;
    top: 8px;
    left: 0;
    width: 98%; }
    @media screen and (min-width: 750px) {
      #app-wrapper #main-menu-wrapper,
      #app-wrapper #flash-card-wrapper {
        padding-left: 0; } }
  #app-wrapper #flash-card-wrapper {
    z-index: -1; }

#main-menu-wrapper {
  height: 220vh;
  z-index: 100; }
  @media screen and (min-width: 750px) {
    #main-menu-wrapper {
      height: 190vh; } }
  #main-menu-wrapper #main-menu-content-fade {
    height: 85vh; }
    #main-menu-wrapper #main-menu-content-fade #footer > h6 {
      margin: 2rem 0 0; }
      @media screen and (min-width: 750px) {
        #main-menu-wrapper #main-menu-content-fade #footer > h6 {
          margin: 4rem 0 1rem; } }
  #main-menu-wrapper h1 {
    font-size: 2.6rem;
    margin: 2.6rem 0 1rem; }
    @media screen and (min-width: 750px) {
      #main-menu-wrapper h1 {
        font-size: 2.9rem;
        margin: 3.6rem 0 3rem; } }
  #main-menu-wrapper ul {
    list-style-type: none;
    margin: 1px 0 0;
    max-width: 1175px;
    padding-left: 0;
    width: 66%; }
  #main-menu-wrapper li {
    border-bottom: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
    min-width: 225px;
    padding: 15px 0;
    transition: border-bottom .4s ease-in-out, color .4s ease-in-out; }
    #main-menu-wrapper li .vocab-count {
      font-size: .6rem;
      padding-left: .8rem; }
      @media screen and (min-width: 750px) {
        #main-menu-wrapper li .vocab-count {
          font-size: 1rem; } }
    #main-menu-wrapper li .index-link {
      font-size: 1rem;
      border-bottom: 1px solid silver; }
      #main-menu-wrapper li .index-link:hover {
        border-bottom: 1px solid #0d0d0d; }
      @media screen and (min-width: 750px) {
        #main-menu-wrapper li .index-link {
          font-size: 1.2rem; } }
    #main-menu-wrapper li #footer {
      margin-top: 20vh;
      height: 20vh; }
      @media screen and (min-width: 750px) {
        #main-menu-wrapper li #footer {
          margin-top: 10vh; } }
    @media screen and (min-width: 750px) {
      #main-menu-wrapper li {
        border: none;
        border-bottom: 1px solid white;
        font-size: 2rem; }
        #main-menu-wrapper li:hover {
          border-bottom: 1px solid #a6a6a6; } }

.aboutHook {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear; }
  .aboutHook .ng-hide {
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s linear;
    opacity: 0; }

#flash-card-content-wrapper,
#main-menu-content-fade,
#card-front-content-fade,
#card-back-content-fade,
#word-index-content-fade,
#index-word-view-content-fade {
  -webkit-transition: display 0.4s linear, opacity 0.3s linear;
  transition: display 0.4s linear, opacity 0.3s linear; }

@media screen and (min-width: 750px) {
  #main-menu-content-fade,
  #card-section,
  #card-front,
  #card-back {
    padding-left: 1rem; } }

#flash-card-wrapper h1 {
  font-size: 1.4rem;
  margin: 1rem 0 0; }
  @media screen and (min-width: 750px) {
    #flash-card-wrapper h1 {
      margin: 2rem 0 0; } }

#flash-card-content-wrapper {
  margin-top: 1rem;
  position: relative;
  height: 95vh;
  opacity: 0;
  width: 100%; }

#card-front-content-fade,
#card-back-content-fade {
  opacity: 0; }

#card-back-content-fade {
  position: absolute;
  height: 52vh;
  overflow-y: scroll;
  width: 98%; }
  @media screen and (min-width: 750px) {
    #card-back-content-fade {
      height: 60vh; } }

#card-section {
  background: white;
  position: absolute;
  top: 10px;
  width: 90%;
  z-index: 100; }

#card-front,
#card-back {
  position: absolute;
  top: 35px;
  width: 100%; }
  @media screen and (min-width: 750px) {
    #card-front,
    #card-back {
      top: 75px; } }

#card-front {
  z-index: 10; }

#card-back {
  z-index: 1; }

#button-wrapper {
  border-top: 1px solid #333;
  background-color: #fff;
  bottom: 0;
  height: 30vh;
  position: absolute;
  z-index: 1000;
  text-align: center;
  width: 100%; }
  @media screen and (min-width: 750px) {
    #button-wrapper {
      border-top: none;
      height: 23vh; } }
  #button-wrapper button {
    border-bottom: 1px solid #333;
    cursor: pointer;
    padding: 15px 0;
    width: 66%;
    margin: 0 0 5px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid white;
    transition: border-bottom .4s ease-in-out;
    font-size: 1.4rem; }
    #button-wrapper button:hover {
      border-bottom: 1px solid #a6a6a6; }
    @media screen and (min-width: 750px) {
      #button-wrapper button {
        font-size: 2rem; } }

#word-index-wrapper {
  display: none;
  height: 95vh;
  padding-left: 2px;
  position: absolute;
  top: 8px;
  left: 0;
  width: 98%; }
  #word-index-wrapper #word-index-content-wrapper {
    margin-top: 1rem; }
    #word-index-wrapper #word-index-content-wrapper #word-index-content-fade {
      opacity: 0;
      position: relative; }
      #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #search-input-wrapper {
        background: #b3b3b3;
        border: none;
        border-radius: 5px;
        padding: 5px 0 2rem; }
        #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #search-input-wrapper #index-search {
          display: block;
          margin: 2rem auto 0;
          height: 2rem;
          width: 90%; }
        @media screen and (min-width: 750px) {
          #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #search-input-wrapper {
            margin: 2rem 0 0 1rem; } }
      #word-index-wrapper #word-index-content-wrapper #word-index-content-fade h1 {
        font-size: 1.4rem;
        margin: 1rem 0 0; }
        @media screen and (min-width: 750px) {
          #word-index-wrapper #word-index-content-wrapper #word-index-content-fade h1 {
            margin: 2rem 0 0; } }
      #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #word-index-list-wrapper {
        position: absolute;
        top: 75px;
        width: 98%; }
        #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #word-index-list-wrapper ul {
          border-bottom: 1px solid #a6a6a6;
          margin: .2rem 0;
          padding-left: 2px; }
          #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #word-index-list-wrapper ul li {
            list-style: none outside;
            position: relative; }
          #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #word-index-list-wrapper ul p {
            display: inline-block;
            font-size: 1.4rem;
            margin: 1rem 0 0; }
            @media screen and (min-width: 750px) {
              #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #word-index-list-wrapper ul p {
                font-size: 2rem; } }
          @media screen and (min-width: 750px) {
            #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #word-index-list-wrapper ul h3 {
              font-size: 1.4rem; } }
          #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #word-index-list-wrapper ul button {
            background: none;
            cursor: pointer;
            margin-left: 1.4rem;
            position: absolute;
            top: 22px; }
            #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #word-index-list-wrapper ul button:hover {
              animation: hoverButtonRev .4s ease-in-out; }
            @media screen and (min-width: 750px) {
              #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #word-index-list-wrapper ul button {
                top: 27px; } }
            #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #word-index-list-wrapper ul button img {
              cursor: pointer;
              height: 1rem;
              transform: rotate(180deg);
              width: 2rem; }
              @media screen and (min-width: 750px) {
                #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #word-index-list-wrapper ul button img {
                  width: 3rem; } }
        @media screen and (min-width: 750px) {
          #word-index-wrapper #word-index-content-wrapper #word-index-content-fade #word-index-list-wrapper {
            padding-left: 1rem;
            margin: 2rem 0 0;
            max-width: 1175px;
            width: 66%; } }

#index-word-view-wrapper {
  position: absolute;
  display: none;
  height: 95vh;
  padding-left: 2px;
  left: 0;
  width: 98%; }
  #index-word-view-wrapper #index-word-view-content-wrapper {
    margin-top: 1.5rem; }
  #index-word-view-wrapper #index-word-view-content-fade {
    opacity: 0;
    position: relative; }
    #index-word-view-wrapper #index-word-view-content-fade h1 {
      font-size: 1.4rem;
      margin: 1rem 0 0;
      width: 88vw; }
      @media screen and (min-width: 750px) {
        #index-word-view-wrapper #index-word-view-content-fade h1 {
          margin: 2rem 0 0; } }
    #index-word-view-wrapper #index-word-view-content-fade #word-index-content {
      padding-left: 0;
      position: absolute;
      margin: 3.1rem 0 0;
      max-width: 1175px;
      width: 88vw; }
      @media screen and (min-width: 750px) {
        #index-word-view-wrapper #index-word-view-content-fade #word-index-content {
          padding-left: 1rem;
          margin: 7.3rem 0 0; } }
      @media screen and (min-width: 750px) {
        #index-word-view-wrapper #index-word-view-content-fade #word-index-content h3 {
          font-size: 1.4rem; } }
    #index-word-view-wrapper #index-word-view-content-fade p {
      margin: 1rem 0 0; }
      @media screen and (min-width: 750px) {
        #index-word-view-wrapper #index-word-view-content-fade p {
          margin: 0 0 0; } }

/*# sourceMappingURL=main.css.map */
