  <div id="flash-card-content-wrapper">
        <button id="backButton" ng-click="backToMenu()"><img src="img/arrow-left.png" alt="back to menu"></img></button>
        
        <h1 id="card-section">{{thisSection.title}}</h1>
        
        <card-front id="card-front"></card-front>  
        

        <card-back id="card-back"></card-back>

        
        <div id="button-wrapper">
        <button id="showButton" ng-click="switchLanguage()">fr</button>
        <button id="nextButton" ng-click="nextWord()">suivant</button>
        </div>

        
        
    </div>    
        
